@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #010615;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
}
.box:hover {
  height: 400px;
}
.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.box .imgBx img {
  max-width: 280px;
  opacity: 0.3;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 1;
}

.box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
}
.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -2;
  filter: blur(40px);
}

.box:before,
.box:after {
  background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(235deg, #f00f80, #010615, #ecf00e);
}
.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: linear-gradient(235deg, #ec1010, #010615, #7f3ed4);
}
.box .content {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.box:hover .content {
  opacity: 1;
}

.box .content h2 {
  font-size: 20px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
